---
import Layout from '../layouts/Layout.astro';
import SoyRayo from '../components/SoyRayo.astro';
import ButtonHome from '../components/ButtonHome.astro';
---

<Layout title="Soy Rayo Portfolio">
	
	<div class="flex relative items-center justify-center -mt-6 min-h-lvh">
		<SoyRayo /> 
		<h2 class="text-white"> Social Media Designer </h2>
		<ButtonHome /> 
	</div>
</Layout>

<style>
	
	h2{
 		font-family: 'Clash';
		position: absolute;
		font-size: 38px;
		margin-top: 12%;
	}

	

</style>
