---
import ShapeUno from "./ShapeUno.astro";
import ShapeDos from "./ShapeDos.astro";
import ShapeTres from "./ShapeTres.astro";
---
<div class="fixed ">
    <ShapeUno /> 
    <ShapeDos /> 
    <ShapeTres /> 
</div>
