<div class=" flex gap-12 mx-auto px-32 py-9 mt-[380px] absolute ">
    <a href="tel:443-479-6187">
    <button class="bg-none cursor-pointer inline-block flex-shrink-0 text-2xl py-3 px-3 relative text-white no-underline z-10 font-bold transition-all duration-200 ease-in-out
      before:bg-gray-800 before:h-full before:absolute before:w-full before:-z-10 before:top-3 before:right-3
      after:border-white after:border-solid after:border-[3px] after:h-full after:opacity-100 after:absolute after:top-0 after:right-0 after:w-full
      hover:before:bg-[#F2BB16]
      hover:before:translate-x-2 hover:before:-translate-y-2
      hover:after:-translate-x-2 hover:after:translate-y-2
      hover:before:transition-transform hover:before:duration-500 hover:before:ease-in
      hover:after:transition-transform hover:after:duration-500 hover:after:ease-in
      after:transition-transform after:duration-500
      before:transition-transform before:duration-500
      ">Contact
    </button> </a>

    <a href="https://www.behance.net/diegoraya2" target="_blank">
    <button class="bg-none cursor-pointer inline-block flex-shrink-0 text-2xl py-3 px-3 relative text-white no-underline z-10 font-bold
      before:bg-gray-800 before:h-full before:absolute before:w-full before:-z-10 before:top-3 before:right-3
      after:border-white after:border-solid after:border-[3px] after:h-full after:opacity-100 after:absolute after:top-0 after:right-0 after:w-full
      hover:before:bg-[#F2BB16]
      hover:before:translate-x-2 hover:before:-translate-y-2
      hover:after:-translate-x-2 hover:after:translate-y-2
      hover:before:transition-transform hover:before:duration-500 hover:before:ease-in
      hover:after:transition-transform hover:after:duration-500 hover:after:ease-in
      after:transition-transform after:duration-500
      before:transition-transform before:duration-500
      ">Behance
    </button></a>
  </div>
  <!-- <span class="text-black text-center"><a href="https://tailwind-forum.pl" alt="Polskie wsparcie TailWind CSS" target="_blank">Polskie wsparcie TailwindCSS</a> -->