---
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/rayo-icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	
	@font-face {
		font-family: 'Crilo';
		src: url(fonts/Crilo.ttf) format('truetype');
	}
	@font-face {
		font-family: 'Clash';
		src: url(fonts/ClashDisplay-Extralight.otf) format('opentype');
	}
	:root{
		--primary: #131313;
		--secondary: #E94F1B;
		--third: #F2BB16;
		--base: white;
	}
	html {
		font-family: 'Clash',system-ui, sans-serif;
		background-image: url(fondo.webp);
		background-repeat: no-repeat;
		background-color: #131313;
		background-size: 100%;
		
		/* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(5,5,5,1) 35%, rgba(47,47,47,1) 100%) no-repeat; */
	}

</style>

